/* -------------------------------------------------------------------
	ФОРМАТИРОВАННЫЙ ТЕКСТ
------------------------------------------------------------------- */

.text { font-size: 15px; line-height: 1.6em; overflow: hidden; zoom: 1; }

.text a	{ 
    text-decoration: underline;
    -moz-transition: color 0.8s 0.1s ease;
    -o-transition: color 0.8s 0.1s ease;
    -webkit-transition: color 0.8s 0.1s ease;
    
}

.text h4 { font-size: 24px; margin-bottom: 7px; font-weight: bold; }
.text h5 { font-size: 20px; margin-bottom: 7px; font-weight: bold; }
.text h6 { font-size: 18px; margin-bottom: 7px; font-weight: bold; }

.text p { margin-bottom: 1em; }
.text abbr[title] { border-bottom: 1px dotted; }
.text b, .text strong { font-weight: bold; }
.text blockquote { margin: 0; background: #fafafa; color: #555; padding: 15px 20px; clear: both; border-left: 5px solid #eee; }
.text dfn { font-style: italic; }
.text hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
.text ins { background: #ff9; color: #000; text-decoration: none; }
.text mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

.text pre { margin: 0; padding: 10px 15px; border: none; background: #fafafa; font-size: 12px; line-height: 18px; overflow: auto; width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; clear: both; }
.text q { quotes: none; clear: both; }
.text q:before, q:after { content: ""; content: none; }
.text small { font-size: 70%; }

.text sub, .text sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
.text sup { top: -0.5em; }
.text sub { bottom: -0.25em; }

.text ul, .text ol { margin: 0; padding: 0 0 0 40px; }
.text ul { list-style-type: disc; }
.text ol { list-style-type: decimal; }
.text dd { margin: 0 0 0 40px; }

.text img[align="right"] { margin: 4px 0 5px 15px; }
.text img[align="left"] { margin: 4px 15px 10px 0; }
.text img.image-center { display: block; margin: 0 auto; }

.text object,
.text img { max-width: 100%; vertical-align:bottom}

.text .ls-user { color: #333; display: inline-block;}
.text .ls-user:visited { color: #333; }
.text .ls-user:hover { color: #555; }
.text .left {display: block; text-align: left;}
.text .center {display: block; text-align: center;}
.text .right {display: block; text-align: right;}

.spoiler-gray {background: #607D8B; color: #607D8B;}
.spoiler-gray:hover {background: none;}
